.todo {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: white;
  margin: 6px 4px;
  height: 40px;
  border-bottom: 1px solid black;
}

.todo > p {
  float: 1;
}

.todo--done {
  text-decoration: line-through;
}
